doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Colors & Type

.logo.logo_header
.page-conteiner.page-conteiner_body
  .colors-group
    .color-block.color-block__colors-group
      .rectangle.rectangle_shade-100
      .color-text
        .color-text_h1 Dark Shade 100%
        .color-text_p #1F2041
    .color-block.color-block__colors-group
      .rectangle.rectangle_shade-75
      .color-text
        .color-text_h1 Dark Shade 75%
        .color-text_p #1F2041
    .color-block.color-block__colors-group
      .rectangle.rectangle_shade-50
      .color-text
        .color-text_h1 Dark Shade 50%
        .color-text_p #1F2041
    .color-block.color-block__colors-group
      .rectangle.rectangle_shade-25
      .color-text
        .color-text_h1 Dark Shade 25%
        .color-text_p #1F2041
    .color-block.color-block__colors-group
      .rectangle.rectangle_shade-5
      .color-text
        .color-text_h1 Dark Shade 5%
        .color-text_p #1F2041
    .color-block.color-block__colors-group
      .rectangle.rectangle_purple
      .color-text
        .color-text_h1 Purple
        .color-text_p #BC9CFF
    .color-block.color-block__colors-group
      .rectangle.rectangle_green
      .color-text
        .color-text_h1 Green
        .color-text_p #6FCF97
