doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  title Webpack-pug
.conteiner
  h1 Webpack course - pug
hr
.card
  h2  SCSS
.text-block TExt Block
.text-block.text-element Text Element